<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form width="100px" height="100px">
        <fieldset>
            <legend>Login Page</legend>
            <table>
                <tr>
                    <td><label>UserName</label></td>
                    <td><input type="text" placeholder="Enter the username"></td>
                </tr>
                <tr>
                    <td><label>Passcode</label>
                    </td>
                    <td><input type="password" placeholder="Enter the passcode"></td>
                </tr>
                <tr><td align="center" colspan="2"><button>Submit</button></td></tr>
            </table>
        </fieldset>
    </form>
</body>
</html>