<!DOCTYPE html>
<html lang="en">
<head>
    <title>Block To Inline</title>
    <style>
        .items{
            height: 200px;
            width: 200px;
            border: 3px solid black;
            background-color: chartreuse;
            color: brown;
            text-align: center;
            display: inline-block;
        }
    </style>
</head>
<body>
    <div class="items">1</div>
    <div class="items">2</div>
    <div class="items">3</div>
    <div class="items">4</div>
</body>
</html>